@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans');
@import url('https://fonts.googleapis.com/css?family=Righteous');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'IBM Plex Sans', sans-serif;

}
#typing{
    position: absolute;
    bottom: 45px;
    margin-left: 15px;
    font-size: 0.8em;
    display: none;
}
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

#main-box{
    display: none;
}
#chat-open {
    position: fixed;
    bottom: 12%;
    left: 100%;
    margin-left: -360px;
    z-index: 3;
}
#chat-container {
    height: 300px;
    width: 350px;
    padding: 30px;
    overflow-y: auto;
}
li{
    list-style: none;
}
.fa-circle{
    color: #00ff00;
    font-size: 0.6em;
}
h6{
    font-size: 0.8em;
}
.link{
    color: blue;
}
.header{
    background: #2c79bd;
    font-family: 'Righteous', cursive !important;
    color: #fff;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
}
.sender{
    background: #3598db;
    color: #fff;
    border-radius: 10px;
    float: right;
    font-size: 0.9em;
    clear: both;
    margin-bottom: 10px;
    padding: 10px;
}
.responder{
    background: #e7eaf1;
    color: #000;
    border-radius: 10px;
    font-size: 0.9em;    
    float: left;
    clear: both;
    margin-bottom: 10px;
    padding: 10px;
}
#main-box {
    margin-top: 70px;
    border-radius: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
    padding-right: 0;
    background: #fff;
    box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, .2);
}
#chat-input{
    padding-right: 40px;
}
.form-control:focus{
    box-shadow: none;
}
#input{
    margin-left: 0px;
    margin-right: 0px;
}
#mic{
    position: absolute;
    left: 90%;
    bottom: 18.5%;
    cursor: pointer;
}
#mic:hover{
    color: rgb(122, 0, 0);
}
#fab {
    z-index: 4;
    position: fixed;
    right: 1%;
    bottom: 1%;
    font-size: 2em;
    padding: 8px 15px;
    background: #2c79bd;
    border-radius: 100%;
    color: white;
    display: inline;
    cursor: pointer;
}

#fab-close {
    z-index: 3;
    position: fixed;
    right: 1%;
    bottom: 1%;
    font-size: 2em;
    padding: 8px 15px;
    background: #2c79bd;
    border-radius: 100%;
    color: white;
    display: inline;
    cursor: pointer;
}

.closer {
    float: right;
    margin-top: -50px;
    color: #fff;
    cursor: pointer;
}
.voice-box input[type=checkbox] {
    display: none;
}

.voice-box input[type=checkbox]:checked+.label-color-voice {
    color: white;
}

.label-color-voice {
    color: rgb(184, 183, 183);
    cursor: pointer;
}
.m-t-10{
    margin-top: 8px;
}
@media only screen and (max-width:360px) {
    #chat-container {
        width: 300px;
    }
}